#admin-controls {
    display: flex;
    gap: 10px;
}

.btn-edit, .btn-delete, .btn-some-fancy {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}



.btn-edit {
    background-color: var(--success);
    color: var(--bg-card);
}

.btn-edit:hover {
    background-color: var(--success-hover);
}

.btn-some-fancy {
    background-color: var(--tetra-1);
    color: var(--bg-card);
}

.btn-some-fancy:hover {
    background-color: var(--tetra-1-dark);
}

.btn-delete {
    background-color: var(--danger);
    color: var(--bg-card);
}

.btn-delete:hover {
    background-color: var(--danger-hover);
}