.математика {
   background-color:#DCEBFF;
}
.наука {
   background-color:#D9F4F1;
}
.биология {
   background-color:#E3F6E8;
}
.химия {
   background-color:#EFE3FF;
}
.физика {
   background-color:#E1F0FF;
}
.английски-език {
   background-color:#FFE3E3;
}
.история {
   background-color:#F5EAD6;
}
.география {
   background-color:#EEF3D9;
}
.изкуство {
   background-color:#FFEBD6;
}
.музика {
   background-color:#F2E6FF;
}
.компютърни-науки {
   background-color:#E3EAF5;
}
.икономика {
   background-color:#E6F7F1;
}
.философия {
   background-color:#ECE9F4;
}
.литература {
   background-color:#FFF4E1;
}
.няма {
   background-color:#F2F2F2;
}
.всякакви {
   background-color:#F2F2F2;
}