<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${blog.title}">Умения+</title>

    <link rel="stylesheet" href="/api/style">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dompurify@3.0.6/dist/purify.min.js"></script>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/highlight.js/styles/github-dark.min.css">

    <script src="https://cdn.jsdelivr.net/npm/highlight.js/lib/highlight.min.js"></script>


</head>
<body>

<header>
    <div class="header-container">
        <a href="/" class="logo">Умения+</a>
        <a href="/home" class="btn-back">← Обратно</a>
    </div>
</header>

<main class="article-container">
    <span class="post-tag" th:text="${blog.tag}">Категория</span>

    <h1 class="post-title" th:text="${blog.title}">Заглавието на поста</h1>

    <p class="post-excerpt" th:text="${blog.excerpt}">Това е крадко описание на
        съдържанието, целящо да грабне вниманието на читателя</p>

    <hr>

    <article id="post"></article>

</main>

<script>
    async function loadPost(id){
        const res = await fetch(`/api/posts/${id}`);
        const markdown = await res.text();

        marked.setOptions({
            highlight: function(code, lang) {
                return hljs.highlightAuto(code).value;
            }
        });

        const rawHtml = marked.parse(markdown);

        const cleanHtml = DOMPurify.sanitize(rawHtml);

        document.getElementById("post").innerHTML = cleanHtml;
    }

    const pathParts = window.location.pathname.split("/");
    const postId = pathParts[pathParts.length - 1];

    console.log(postId);

    loadPost(postId)
</script>

</body>
</html>